# workflow for manual publishing to NPM
name: Publish NPM
on:
  workflow_dispatch:

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Check out commit
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node 18
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'

      - name: Install npm 10
        run: npm install -g npm@10

      - name: Install dependencies
        run: |
          pnpm install

      - name: Publish to NPM
        run: |
          bash .bin/publish_npm
